/*
Description: New Site
Author: Barnum Design
*/	


/************ Global - START ************/

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

body {
	background:;
	font-family: verdana, arial, helvetica, sans-serif; 
	}
a { 
	}
p {
	line-height: 170%;
	padding-bottom: 10px;
	}
h1, h2, h3, h4 {
	padding-bottom: 10px;
	}
h1 {
	font-size: 220%;
	}
h2 {
	font-size: 180%;
	}
h3 {
	font-size: 120%;
	}
h4 {
	font-size: 110%;
	}
hr {
	}

/*--------- UL,OL styling -----------*/
ul.list,
ol.list { 
	font-size: 10px;
	}
ol.list,
ul.list {
	margin: 0 0 0 20px;
	padding: 0 0 3px 0;
	}
ol.list li,
ul.list li {
	line-height: 150%;
	padding: 3px 0 3px 0; 
	}
ol.list ol,
ol.list ul,
ul.list ol,
ul.list ul {
	font-size: 100%;
	padding: 0 0 0 10px; 
	}
ol.list li li,
ul.list li li {
	padding: 6px 0 0 0; 
	}
	
/*--------- dl styling -----------*/
dl {
}
dt {
}
dd {
}
	
/*--------- row col styling -----------*/
ul.cols li {
	float: left;
	list-style-type:none;
	}
.col {
	float: left;
	}
.row {
	clear: both;
	}
.last {
	padding-right: 0 !important;
	}

/************ Global - END ************/

/************ Templates - START ************/

.Wrap {
	min-height: 100%;
	}
* html .Wrap {
	height: 100%;
	}

/************ Templates - END ************/

/************ Sub Pages - START ************/

/************ Sub Pages - END ************/

/************ Dynamic Menus - START *************/

/*--------- Global -----------*/
.Top_nav li,
.Left_nav li,
.Bottom_nav li,
.SZ_nav li {
	list-style-type: none;
	}
.Top_nav a,
.Left_nav a,
.Bottom_nav a,
.SZ_nav a {
	}

/*--------- Top _nav -----------*/
.Top_nav {
}
.Top_nav ul { 
}
.Top_nav ul li {
	}
.Top_nav ul li.selected {
	}
.Top_nav ul li a {
	}
.Top_nav ul li a.active,
.Top_nav ul li a:hover {
	}
.Top_nav ul li ul {
	}
.Top_nav ul li.selected ul {
	}
.Top_nav ul li ul li {
	}
.Top_nav ul li ul li.selected {
	}
.Top_nav ul li ul li a {
	}
.Top_nav ul li ul li a.active,
.Top_nav ul li ul li a:hover {
	}

/*--------- Left _nav -----------*/
.Left_nav {
	}
.Left_nav ul {
	}
.Left_nav ul li {
	}
.Left_nav ul li.selected {
	}
.Left_nav ul li a {
	}
.Left_nav ul li a.active,
.Left_nav ul li a:hover {
	}
.Left_nav ul li ul {
	}
.Left_nav ul li.selected ul {
	}
.Left_nav ul li ul li {
	}
.Left_nav ul li ul li.selected {
	}
.Left_nav ul li ul li a {
	}
.Left_nav ul li ul li a.active,
.Left_nav ul li ul li a:hover {
	}
.Left_nav ul li ul li ul {
	}
.Left_nav ul li ul li.selected ul {
	}
.Left_nav ul li ul li ul li {
	}
.Left_nav ul li ul li ul li.selected {
	}
.Left_nav ul li ul li ul li a {
	}
.Left_nav ul li ul li ul li a.active,
.Left_nav ul li ul li ul li a:hover {
	}

/*--------- Bottom _nav -----------*/
.Bottom_nav {
	}
.Bottom_nav ul {
	}
.Bottom_nav ul li {
	}
.Bottom_nav ul li.selected {
	}
.Bottom_nav ul li a {
	}
.Bottom_nav ul li a.active,
.Bottom_nav ul li a:hover {
	}
.Bottom_nav ul li ul {
	}
.Bottom_nav ul li.selected ul {
	}
.Bottom_nav ul li ul li {
	}
.Bottom_nav ul li ul li.selected {
	}
.Bottom_nav ul li ul li a {
	}
.Bottom_nav ul li ul li a.active,
.Bottom_nav ul li ul li a:hover {
	}

/*--------- Secure Zone _nav -----------*/
.SZ_nav {
	}
.SZ_nav ul {
	}
.SZ_nav ul li {
	}
.SZ_nav ul li a {
	}
.SZ_nav ul li a:hover {
	}

/*--------- Secure Zone Login -----------*/
.SZ_login {
	position: absolute;
	}
.SZ_login li {
	display: none;
	}
.SZ_login li a {
	}
.SZ_login li a:hover {
	}
	
/************ Dynamic Menus - END *************/
	
/*--------- Media Queries -----------*/

/* Smaller screens */
@media only screen and (max-width: 1024px) {
	
}

/* iPad */
@media handheld, only screen and (max-width: 767px) {
	
}

/* iPhone */
@media handheld, only screen and (max-width: 480px) {
	
}